
.message>img{
	height: 80px;
	margin-top: -30px;
	float: left;
}
.message>span{
	float: left;
	width: 65%;
	height: 80px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.newGoods.row{
	height: 100px;
	margin-top: 10px;
	overflow: hidden;
}
.newGoods.row div{
	float: left;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 40px 10px;
}
.numb>button{
	width: 20px;
	height: 20px;
	font-size: 14px;
	line-height: 16px;

}
.numb>input{
	width: 35px;
	height: 20px;
	font-size: 14px;
	text-align: center;	
}

.row{
	height: 40px;
	border: 1px solid #CCCCCC;
	text-align: center;

}
.row>div{
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
}
.cAll>input{
	float: left;
	width: 14px;
	height: 14px;
}
.checkAll>input{
	float: left;
	width: 14px;
	height: 14px;
}
.downDiv{
	margin-top: 40px;

}
.downDiv>.row{
	height: 80px;
	font-size: 22px;
	line-height: 58px;
}
.downDiv .choseDelate{
	font-size: 18px;
	cursor: pointer;
	color: crimson;
}
.downDiv .choseDelate:hover{
	background: silver;
}
.finish{
	background: red;
	color: white;
	height: 100%;
	border-color: red;
	border-width: 5px;
}
.downDiv>.row>.pricesumb>em{
	color: red;
}

.delate{
	cursor: pointer;
	color: crimson;
}
.delate:hover{
	background: silver;
}
#tip{
	width: 323px;
    height: 150px;
    border: 5px solid saddlebrown;
    position: fixed;
    left: 39%;
    top: 38%;
	z-index: 999;
	background: white;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	color: sienna;
	display: none;
}
#tip>button{
	margin-top: 41px;
}
#no{
	margin-left: 91px;
}

